
#login{max-width:500px;height:100vh;display:flex;flex-direction:column;justify-content:center;margin:auto}#login #logocontainer{max-width:200px;margin:0 auto 40px auto}#login #users{display:flex;justify-content:space-around;align-items:center}#login #users .button{padding:30px 25px;border:2px solid #666;border-radius:100%;text-align:center;margin:auto}#home{display:flex;flex-direction:column;align-items:center}.welcome-box{width:90%;padding:20px;text-align:center;background-color:#060010;margin-top:20px}.welcome-box img{width:90%;margin-bottom:20px}.welcome-box p{color:#f2f2f3;font-weight:300;margin-bottom:20px}.welcome-box .btn{color:#fff;text-decoration:none;text-transform:uppercase;padding:7px 21px;background-color:#236aee;border-radius:10px;transition:.3s ease;margin-bottom:30px}.logo-header{width:100%;height:60px;background-color:#4d2e7e;display:flex;flex-direction:row;align-items:center}.logo-header img{height:40px}.logo-header .login-btn{text-decoration:none;text-transform:uppercase;color:#fff;margin-left:auto;padding:10px}#flashback-logo{padding:10px}#flashback-logo img{width:100%;opacity:.2}#bottomNav #main-nav{position:fixed;bottom:0;width:100%;height:60px;background-color:#f2f2f3;-webkit-box-shadow:0 1px 24px -5px rgba(0,0,0,.72);-moz-box-shadow:0 1px 24px -5px rgba(0,0,0,.72);box-shadow:0 1px 24px -5px rgba(0,0,0,.72);z-index:2}#bottomNav #main-nav ul{display:flex;justify-content:space-around}#bottomNav #main-nav ul li{list-style:none;padding:20px;width:100%;height:60px;text-align:center;transition:all .3s ease-in-out}#bottomNav #main-nav ul li img{width:30px}@media screen and (min-width: 700px){#bottomNav #main-nav ul li img{width:20%}}#bottomNav #main-nav ul li span{position:absolute;cursor:pointer;right:30px;bottom:15px;font-size:40px}#bottomNav #main-nav ul li:hover{background-color:#236aee}#bottomNav .menu{position:fixed;bottom:60px;width:100%;height:0;visibility:hidden;background-color:#f2f2f3;transition:.3s ease-in-out}#bottomNav .menu.show{visibility:visible;height:150px}#bottomNav .menu .menu-nav{border-top:1px solid #4d2e7e;margin-top:80px;padding:15px;display:flex;justify-content:space-evenly}#bottomNav .menu .menu-nav .nav-item{list-style:none}#bottomNav .menu .menu-nav .nav-item .nav-link{text-decoration:none;cursor:pointer;color:#4d2e7e;font-size:24px}.settings{color:#4d2e7e}.search-box{position:absolute;top:15px;left:50%;transform:translate(-50%, 30%);background:#4d2e7e;border-radius:40px;overflow:hidden}.search-box:hover > .search-txt{width:150px;padding:5px 8px}.search-btn{width:40px;height:40px;border-radius:50%;background-color:#060010;display:flex;justify-content:center;align-items:center}.search-btn i{color:#f2f2f3;font-size:12px}.search-txt{border:none;background:none;outline:none;float:left;padding:0;color:#fff;font-size:14px;transition:.4s;line-height:30px;width:0}.settings-nav{position:fixed;bottom:60px;right:0;width:35%;padding:15px;background-color:#f2f2f3;transition:.3s ease-in-out;height:0;opacity:0}.settings-nav.show{height:150px;opacity:1}.settings-nav ul{display:flex;flex-direction:column;text-align:center}.settings-nav ul li{list-style:none;margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #4d2e7e;transition:.3s ease-in-out}.settings-nav ul li:hover > a{background-color:#4d2e7e;color:#f2f2f3;padding:10px 30px}.settings-nav ul li a{text-transform:uppercase}*{margin:0;padding:0;box-sizing:border-box;text-decoration:none}body{background-color:#060010;font-family:"Lato",sans-serif}main{width:100%}h2{color:#fff}.fade-enter-active,.fade-leave-active{transition-duration:.5s;transition-property:opacity;transition-timing-function:ease}.fade-enter,.fade-leave-active{opacity:0}.hide{display:none}#thumbs{display:flex;flex-wrap:wrap;justify-content:space-evenly}#thumbs .thumb{width:200px;height:134px;overflow:hidden}#thumbs img{width:100%;margin-bottom:20px;border:1px solid #fff}.title{font-size:30px;font-weight:400;text-align:center;margin-bottom:40px}.button{padding:30px 25px;border:2px solid #666;border-radius:100%;text-align:center;margin:auto}/*# sourceMappingURL=main.css.map */


#vidbox {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  box-sizing: border-box;
  padding: 0px 16px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
}
#vidbox #closebox {
  margin-top: 10px;
}
#vidbox #closebox p {
  color: #f2f2f3;
}
#vidbox h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
#vidbox .movie-specs {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
#vidbox .movie-specs p {
  color: #999;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
#vidbox .image-container {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
#vidbox .image-container .play-btn {
  width: 0px;
  height: 0px;
  border-left: 20px solid #f2f2f3;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -20px;
}
#vidbox .image-container img {
  max-width: 100%;
}
#vidbox .rate-share {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
#vidbox .video-desc {
  color: #f2f2f3;
  text-align: justify;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 100px;
}



#thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#thumbs .thumb {
  width: 200px;
  height: 134px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid white;
}
#thumbs img {
  min-height: 100%;
  max-width: 100%;
}

.title {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.button {
  width: 120px;
  background-color: #f2f2f3;
  border-radius: 10px;
}
.button p {
  color: #4d2e7e;
  font-size: 18;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */

