.logo-header {
  width: 100%;
  height: 60px;
  background-color: $roku-purple;
  display: flex;
  align-items: center;
  img {
    width: 96px;
    height: 30px;
  }
}


#flashback-logo {
  padding: 10px;
  img {
    width: 100%;
    opacity: 0.2;
  }
}

// #userprofile {
//   width: 300px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
