// HOME PAGE AND LOGIN
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-box {
  width: 90%;
  padding: 20px;
  text-align: center;
  background-color: $dark-purple;
  margin-top: 20px;
  @media #{$desktop} {
    margin-top: 20vh;
  }
  img {
    width: 90%;
    margin-bottom: 20px;
  }
  p {
    color: $off-white;
    font-weight: $thin-font;
    margin-bottom: 20px;
  }
  .btn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 21px;
    background-color: $blue;
    border-radius: 10px;
    transition: 0.3s ease;
    margin-bottom: 30px;
    border: none;
  }
  form {
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-top: 10px;
  }
  input {
    line-height: 2.0;
    width: 200px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba($yellow, 0.5);
    border-bottom: 1px solid rgba($roku-purple, 0.5);
  }
}