#vidbox{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  box-sizing: border-box;
  padding: 0px 16px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.9);
  overflow-y: scroll;

  @media #{$desktop}{
    height: auto;
  }

  #closebox{
    margin-top: 10px;

    p{
      color: $off-white
    }
  }

  #lightbox-container{
    @media #{$desktop}{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
      align-items: center;
      margin: auto;
      height: 100%;
    }

  h1{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }

  .movie-specs{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    @media #{$tablet}{
      width: 550px;
    }

    p{
      color: #999;
      font-size: 12px;
      font-family: $lato-font;
      font-weight: 100;
    }
  }

  .image-container{
    position: relative;
    width: 90%;
    max-height: 300px;
    margin: 0 auto;
    overflow: hidden;

    @media #{$tablet}{
      width: 550px;
    }

    .play-btn{
      width: 0px;
      height: 0px;
      border-left: 20px solid $off-white;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      position: absolute;
      top:50%;
      left:50%;
      margin-left: -10px;
      margin-top: -20px;
    }

    img{
      max-width: 100%;
    }
  }

  .rate-share{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    .image-container{
      margin: 0;
    }

    @media #{$tablet}{
      width: 550px;
      margin: 10px auto;
    }
  }

  .video-desc{
    color: $off-white;
    text-align: justify;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 100px;

    @media #{$tablet}{
      max-width: 550px;
      margin: 0 auto 100px auto;
    }

    @media #{$desktop}{
      margin: 0;
    }
  }
}
}
