#login{
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    #logocontainer{
        max-width: 200px;
        margin: 0 auto 40px auto;
    }

    #users{

        display: flex;
        justify-content: space-around;
        align-items: center;

        .button{
            padding: 30px 25px;
            border: 2px solid #666;
            border-radius: 100%;
            text-align: center;
            margin: auto;
        }
    }
}