.user-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  grid-gap: 2rem;
  padding-bottom: 30rem;
  @media screen and (min-width: 760px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.user-message {
  margin: 2rem 0 2rem 0;
  text-align: center;
  @media #{$desktop} {
    margin-top: 20vh;
  }
}

.avatar-card {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 300px;
  justify-self: center;
  cursor: pointer;
  @include boxshadow;
  .pic {
    grid-column: 1;
    z-index: 1;
    text-align: center;
    padding: 1rem;
    img {
      width: 80%;
    }
  }
  .user-info {
    grid-column: 1;
    z-index: 2;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: $roku-purple;
    p {
      text-transform: uppercase;
      color: $off-white;
    }
  }
}

.welcome {
  text-align: center;
  padding: 20px;
  h2 {
    text-transform: uppercase;
  }
  .purple {
    color: $roku-purple;
  }
  .yellow {
    color: $yellow;
  }
}