@import "vars";
@import "homepage";
@import "appheader";
@import "menu";
@import "lightbox";
@import "movies";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: $dark-purple;
  font-family: $lato-font;
}

main {
  max-width: 100%;
  overflow-x: hidden;
}

h2 {
  color: white;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-active
/* .slide-fade-leave-active below version 2.1.8 */

  {
  transform: translateX(100px);
  opacity: 0;
}

.hide {
  display: none;
}