@import "vars";
@import "homepage";
@import "appheader";
@import "menu";
@import "lightbox";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: $dark-purple;
  font-family: $lato-font;
}

main {
  max-width: 100%;
  overflow-x: hidden;
}

h2 {
  color: white;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.hide {
  display: none;
}

#movies {
  background-color: $dark-purple;
}

#thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @media #{$desktop} {
    margin-left: 150px;
  }
  .thumb {
    width: 200px;
    height: 134px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid white;
  }
  img {
    //width: 100%;
    min-height: 100%;
    max-width: 100%; //margin-bottom: 20px;
    // border: 1px solid white;
  }
}

.title {
  font-size: 30px;
  font-weight: $bold-font;
  text-align: center;
  margin-bottom: 40px;
}

.button {
  width: 120px;
  background-color: $off-white;
  border-radius: 10px;
  p {
    color: $roku-purple;
    font-size: 18;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
  }
}